smash.metaTraderPublisher.smashHost=52.71.3.123
smash.metaTraderPublisher.smashVPN=DEMO
smash.metaTraderPublisher.smashUserId=amcmanus@oanda.com
smash.metaTraderPublisher.smashPassword=test
smash.metaTraderPublisher.subscriptionMapping=\
EURUSD,58a45091-c0a1-11e6-9f42-0a900cdd7aeb,\
GBPUSD,2c93fdb1-c0a2-11e6-9f42-0a900cdd7aeb,\
USDCAD,0d2fe891-c0a1-11e6-9f42-0a900cdd7aeb,\
USDJPY,408f58f1-c0a2-11e6-9f42-0a900cdd7aeb