smash.csvPublisher.smashHost=52.71.3.123
smash.csvPublisher.smashVPN=TEST
smash.csvPublisher.smashUserId=thomas.lo@financialogixgroup.com
smash.csvPublisher.smashPassword=Flxpassword1


smash.csvPublisher.smashDataTypeId=d2ac4f70-61a7-5a0d-6593-100a6fc761a2
smash.csvPublisher.datasetDataColumn=1
smash.csvPublisher.timestampDataColumn=0
smash.csvPublisher.timestampFormat=yyyy-MM-dd:HH:mm:ss
smash.csvPublisher.subscriptionMapping=\
	135087D35,2a3e3f11-1bc1-11e7-9297-0a900cdd7aeb
smash.csvPublisher.dataFieldMapping=\
	bidPrice,6,\
	askPrice,7,\
	bidYield,8,\
	askYield,9

smash.csvPublisher.dataFile=/Users/thomaslo/downloads/candealtick.csv
